* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: #333;
  color: #fff;
  font-family: monospace;
}
.App {
  padding: 2rem 10%;
}
a {
  color: #fff;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
input {
  padding: 1rem;
  margin: 1rem 0;
  border: none;
  font-family: monospace;
  width: 45%;
}
input[type="submit"] {
  padding: 1rem;
  background-color: white;
  border: 3px solid white;
  cursor: pointer;
  font-family: monospace;
  text-transform: uppercase;
  font-weight: 700;
  &:hover {
    background-color: #333;
    color: #fff;
  }
}

.books {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.book {
  width: 100%;
  padding: 2rem;
  margin: 2rem 0;
  background-color: #444;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  &-link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @media (min-width: 900px) {
    width: 45%;
  }
}

img {
  max-width: 100%;
  @media (min-width: 900px) {
    max-height: 330px;
  }
}
.delete {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 1rem;
  top: 1rem;
  font-size: 2rem;
  cursor: pointer;
  &:hover {
    color: #ff0000;
  }
}
